/** Base - General **/
html, body {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: $white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}